<%- include('../../parts/header.ejs') %>

<h2 style='margin-top: 2rem;'>Update Supplier <%= data.name %></h2>

<form action='/suppliers/update?_method=PUT' method='POST'>
  <input type='hidden' name='_id' id='_id' value='<%= data._id %>'>
  <div class='form-group'>
    <label for='name'>
      <small>Name : </small>
    </label>
    <input type='text' name='name' id='name' placeholder='Masukkan nama' value='<%= data.name %>' required>
  </div>
  <div class='form-group'>
    <label for='description'>
      <small>Description : </small>
    </label>
    <input type='text' name='description' id='description' placeholder='Masukkan deskripsi' value='<%= data.description %>'>
  </div>
  <div class='form-group'>
    <label for='type'>
      <small>Type : </small>
    </label>
    <select name='type' id='type'>
      <option selected hidden disabled>Pilih tipe</option>
      <option value='Individual' <%= data.type === 'Individual' ? 'selected' : '' %>>Individual</option>
      <option value='Group' <%= data.type === 'Group' ? 'selected' : '' %>>Group</option>
      <option value='Company' <%= data.type === 'Company' ? 'selected' : '' %>>Company</option>
    </select>
  </div>
  <div class='form-group'>
    <label for='sizeOfMembers'>
      <small>Size of members : </small>
    </label>
    <input type='number' name='sizeOfMembers' id='sizeOfMembers' placeholder='Masukkan total jumlah anggota' value='<%= data.sizeOfMembers %>'>
  </div>
  <div class='form-group'>
    <label for='address'>
      <small>Address : </small>
    </label>
    <input type='text' name='address' id='address' placeholder='Masukkan alamat' value='<%= data.address %>' required>
  </div>
  <div class='form-group'>
    <label for='contact'>
      <small>Contact : </small>
    </label>
    <input type='text' name='contact' id='contact' placeholder='Masukkan kontak' value='<%= data.contact %>' required>
  </div>
  <button type='submit' style='margin-top: 1rem;'>Submit Data</button>
</form>

<%- include('../../parts/footer.ejs') %>
